<div>

  {{settlements.length}} results match your search selection.

  <div>

    <table st-table="settlements" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="account.accountId.key">Account</th>
        <th st-sort="account.accountName"></th>
        <th st-sort="account.tradeDate">Trade date</th>
        <th st-sort="account.orderType">Type</th>
        <th st-sort="account.asset.name">Investment</th>

        <th st-sort="account.units">Units</th>
        <th st-sort="account.price">Price</th>
        <th st-sort="account.fee">Fee</th>
        <th st-sort="account.settlementValue">Settlement value</th>
        <th st-sort="account.account.adviser.key">Adviser</th>
        <th st-sort="account.settlementDate">Settlement date</th>

      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="account in settlements | filter:accountName">
        <td>{{account.account.accountId.key}}</td>
        <td>{{account.account.accountName}}</td>
        <td>{{account.tradeDate}}</td>
        <td>{{account.orderType}}</td>
        <td>{{account.asset.name}}</td>

        <td>{{account.units}}</td>
        <td>{{account.price.value}}</td>
        <td>{{account.fee}}</td>
        <td>{{account.settlementValue.value}}</td>
        <td>{{account.account.adviser.key}}</td>
        <td>{{account.settlementDate}}</td>




      </tr>
      </tbody>

      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-items-by-page="10" st-pagination=""
               st-template="modules/common/orders/partials/pagination.custom.html"></div>
        </td>

      </tr>
      </tfoot>

    </table>

  </div>
</div>
