<div class="col-sm-2">
  <label for="">Order source</label>
  <select class="form-control">
    <option value="">All</option>
    <option value="">Transacting</option>
    <option value="">Off platform</option>
  </select>
</div>

<div class="col-sm-2">
  <label for="">Status</label>
  <select class="form-control">
    <option value="">Complete</option>
    <option value="">In progress</option>
    <option value="">Awaiting settlement</option>
  </select>
</div>
<div class="col-sm-2 advancedSearch">
  <a href="#" ng-click="showAdvancedSearch=!showAdvancedSearch">Advanced search</a>
</div>

