<div class="row">
  <div class="col-sm-2">
    <label for="" class="search-label h4 bold">Asset type</label>
    <select class="form-control" name="" ng-model="assetType" ng-options="item.name for item in assetTypes">
    </select>
  </div>

  <div class="col-sm-2">
    <label for="" class="search-label h4 bold">Security</label>
    <input class="form-control" ng-model="security" type="text"/>
  </div>

  <div class="col-sm-2">
    <label for="" class="search-label h4 bold">Trade type</label>
    <select class="form-control" ng-model="tradeType">
      <option>SELL</option>
      <option>BUY</option>
      <option></option>
    </select></div>

  <div class="col-sm-2 l-margin-b-1">
    <label for="" class="search-label h4 bold">From</label>
    <div class="report-date-wrapper">
      <date-picker par1="dateFrom"></date-picker>
    </div>
  </div>

  <div class="col-sm-2 l-margin-b-1">
    <label for="" class="search-label h4 bold">To</label>
    <div class="report-date-wrapper">
      <date-picker par1="dateTo"></date-picker>
    </div>
  </div>

  <!--<div class="col-sm-2 l-margin-b-1">-->
    <!--<div>-->
      <!--<a class="button button-primary" ng-click="dateSubmit(fromDateInput, toDateInput, preferredDateRange)"-->
         <!--ng-disabled="dateLoading">-->
        <!--<span ng-show="!dateLoading">Apply</span>-->
        <!--<span ng-show="dateLoading" class="loader-spinner icon-loading"></span>-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->

  <div class="col-sm-2">
    <label for="" class="search-label h4 bold">Period</label>
    <select class="form-control">
      <option>Today</option>
      <option>Last week</option>
      <option>Last month</option>
      <option>User defined</option>
    </select>
  </div>


</div>




