$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*Main style*/
body {
  background:#000;
  font-family:Arial, Helvetica, sans-serif;
}

.main
{
  background:#ffffff;
}

.search
{
  /*background-color: #f6f6f6;*/
  margin:20px 20px;
  padding:20px;
}


.search input
{
  width:70%;
}

/*.search .icon {*/
/*background:url(images/magnify.gif) no-repeat;*/
/*}*/

.search input::-webkit-input-placeholder { font-style:italic; }

.search select
{
  width:50%;
}

/*Orders style*/
.orders table
{
  margin:auto;
  font-size:12px;
}

.orders .mainTable
{
  margin-right:10px;
  margin-left:10px;
  margin-bottom: 10px;
}


.orders .table th{
  background-color: #adadad;
}

/**!/*/
/*vertical-align:top;*/
/*padding:2px 3px 0 3px;*/
/*line-height:normal;*/
/*height:auto;*/
/*min-height:30px;*/
/*height:30px;*/
/*}*/

.orders .table td {
  width:10%;
  /*float:left;*/
  word-wrap:break-word;
}

.orders .table .accountName {
  width:30%;
  /*float:left;*/
  word-wrap:break-word;
}

.orders .table .productName {
  width:30%;
  /*float:left;*/
  word-wrap:break-word;
}

.orders .table .status {
  width:20%;
  /*float:left;*/
  word-wrap:break-word;
}



.orders .tablerow{
  background-color: #adadad;
  border-spacing:2px;
}

#nrResults
{
  padding:10px;
  margin:10px;
  font-size:10px;
}

.resetFilter
{
  float:right;
  margin-top:13px;
  margin-right:20px;
  font-size:10px;
  /*padding:10px;*/
}

.tab-content
{
  margin-bottom: 10px;
}

